.scc {
  background: none;
  isolation: isolate;
}
.uu {
  display: flex;
  justify-content: center;
  max-width: 64em;
  align-items: center;
  font-size: 3rem /* 48px */;
  line-height: 1;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 700;
  height: 7rem;
}
.skills {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.5rem;
}
.sk {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  justify-content: center;
  width: 16rem;
  height: 8rem;
  margin: auto;
  transition: all 0.4s;
  background-color: #110d0d4f;
  box-shadow: 0px 0px 10px 5px #0c829cbf;
}
.sk:hover {
  box-shadow: 0px 0px 30px 2px #0c829cbf;
  transform: scale(1.1);
}
.ki {
  margin-left: 1rem;
  width: 6rem;
  height: 6rem;
}
.ad {
  margin-left: -3.8em;
  font-size: 1rem;
}
@media (max-width: 855px) {
  .skills {
    grid-gap: 1rem;
  }
  .ki {
    width: 5rem;
    height: 5rem;
  }
  .sk {
    width: 13rem;
    height: 6rem;
  }
  .kj {
    font-size: 1.5rem;
  }
  .ad {
    margin-left: -3.35em;
  }
}
.c,.cpp {
  margin: auto;
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: italic;
}
.rjs, .njs, .html, .css, .dsa, .frn, .tw, .js {
  margin: auto;
  font-size: 1.875rem/* 30px */;
    line-height: 2.25rem;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: italic;
}
@media (max-width: 660px) {
  .skills {
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .sk {
    width: 15rem;
    height: 6rem;
  }
}
@media (max-width: 505px) {
  .sk {
    width: 10rem;
    height: 5rem;
  }
  .ki {
    width: 3rem;
    height: 3rem;
  }
  .kj {
    font-size: 1.3rem;
  }
  .ad {
    margin-left: -2.5em;
  }
}
@media (max-width: 350px) {
  .sk {
    width: 9rem;
    height: 4rem;
  }
  .ki {
    width: 3rem;
    height: 3rem;
  }
  .kj {
    font-size: 1.2rem;
  }
  .ad {
    margin-left: -2.5em;
  }
  .js {
    font-size: 0.8rem;
  }
  .fe {
    font-size: 1rem;
  }
}
